# Example Environment variables for bakery_order_service
ACTIVE_PROFILE=dev
CONFIG_SERVER_URL=http://config-server:8081
EUREKA_URL=http://eureka-server:8082/eureka/
KAFKA_BOOTSTRAP_SERVERS=bakery-kafka:9092
ORDER_DB_PASSWORD=order_password
ORDER_DB_URL=jdbc:postgresql://bakery-orders-db:5432/bakery_orders
ORDER_DB_USER=order_user

SERVER_PORT=8086

ELASTICSEARCH_URIS=http://elasticsearch:9200
KIBANA_URL=http://kibana:5601
